body{
	background: url("http://images.stockunlimited.net/preview1300/food-background_1305818.jpg");
}

.header-styling{
	text-align: center;
	background:rgba(255,255,255, 0.9);
	height: 90px;
	font-size: 70px;
	font-family: 'Ubuntu', sans-serif; 


}

#styling{
	font-size: 40px;
	margin: 0 auto;
	background:rgba(255,255,255, 0.9);
	width: 500px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}


#addGif, .food{

    background: #F08080;
}


